body {
  background-color: #4e4e4e;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
  margin-bottom: 40px;
}

.nav-container .nav-left {
}

.nav-container .nav-right {
}

.main-container {
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
}

/*
.home-btn {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(200, 0, 87);  
}
*/

.home-btn img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

#menu-btn {
  height: 40px;
  background-color: rgb(200, 0, 87);
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

#menu-btn:hover {
  background-color: rgb(170, 0, 87);
  cursor: pointer;
}

.main-container {
  justify-items: center;
  text-align: center;
}

.function-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  padding: 20px 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.link-btn {
  display: block;
  max-width: 300px;
  background-color: rgb(200, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  justify-items: center;
}

.link-btn:hover {
  background-color: rgb(100, 200, 200);
  cursor: pointer;
}

.function-box {
  color: black;
  font-weight: bold;
}

/*
@media (max-width: 1080px) {

  .function-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
*/

@media (max-width: 760px) {
  .nav-container {
    padding: 10px;
    margin-bottom: 0;
  }

  .home-btn img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }

  #menu-btn {
    height: 35px;
    width: 70px;
  }

  .function-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
  }

  .link-btn {
    max-width: 400px;
    width: 90%;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 4px;
  }

  a {
    font-size: 0.85rem;
  }
}
