/****************************
배경, 폰트 스타일
****************************/

body {
  background-color: #4e4e4e;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  text-align: center;
}

.words {
  color: rgb(255, 0, 111);
  font-size: 2.7rem;
  font-weight: bold;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

/****************************
검색 스타일
****************************/

.search-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0;
  max-width: 600px;
  margin: 20px auto;
}

#youtubeLink {
  align-items: center;
  padding: 10px 20px;
  width: 70%;
  height: 40px;
  max-width: 500px;
  max-height: 40px;
  background-color: #7c7c7c;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  box-sizing: border-box;
  font-size: 0.9rem;
}

#youtubeLink:focus {
}

#youtubeLink::placeholder {
  color: #ffffff;
}

button {
  height: 40px;
  background-color: rgb(200, 0, 87);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.clearBtn {
  border-radius: 0;
  background-color: #4f4f4f;
}

.searchBtn {
  border-radius: 0;
}


/****************************
영상 스타일
****************************/

#videoContainer {
  text-align: center;
  padding: 5% 10%;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 비율 */
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto 10px auto;
  border-radius: 2%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.saved-video {
  display: flex;
  align-items: stretch;
  gap: 0;
  max-width: 100%;
  margin: 0 auto 10px auto;
}

.saved-video .video-wrapper {
  position: relative;
  max-width: 100%;
  flex: 1; /* 가능한 공간 채우기 */
  padding-bottom: 50.625%;  /* 16:9 비율 유지 (90% * 56.25%) */
  overflow: hidden;
  border-radius: 2%;
}

.saved-video .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.saved-video .delete-button {
  flex: 0 0 10%;
  width: 100%;
  height: 100%;
  background-color: #ff8a8a;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  z-index: 10;                /* iframe 뒤에 숨겨지지 않도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 25.3125% 0;
}



.saved-video .delete-button:hover {
  background-color: #cc0000;
}


/****************************
에러 스타일
****************************/













/****************************
모바일 반응형 스타일
****************************/

@media (max-width: 768px) {
  .main-container {
    padding: 10px 0;
  }

  .words {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }

  .search-container {
    max-width: 80%;
    margin: 40px auto 30px auto;
  }

  #youtubeLink {
    width: 80%;
    padding: 0 10px;
    font-size: 0.7rem;
  }

  button {
    padding: 0 10px;
    font-size: 0.7rem;
  }

  #videoContainer {
    padding: 5%;
  }

  .saved-video .delete-button {
    font-size: 0.7rem;
  }
}